* {
    margin: 0%;
    padding: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.container {
    width: 100%;
    min-height: 60vh;
    padding: 10px;
}


.search-bar:focus {
    outline: black;
    outline-style: solid;
    outline-width: 1px;
    box-shadow: black;
}


/* navigation bar styles */
.nav-bar {
    background-color: rgba(42, 108, 170, 0.215);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px;
}

.nav-bar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Search Bar styles */
.nav-bar-right input[type="text"] {
    max-width: 80vw;
    width: 20vw;
    padding: 0px 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    height: 30px;
}

/* Menu Items */
.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #FFD700;
    /* Gold hover effect */
}


/* Card Container */
.card-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

/* Card Styles */
.card {
    background: white;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    /*width: 150px; /* Fixed width for cards */
    transition: transform 0.3s;
}

.card img {
    width: 200px;
    /* Image takes full width of the card */
    height: 400px;
    /* Fixed height for images */
    object-fit: cover;
    /* Maintain aspect ratio, avoid distortion */
}

.card:hover {
    transform: scale(1.05);
    /* Slightly increase size on hover */
}



.scroll-buttons {
    position: relative;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.scroll-button.left {
    left: 10px;
}

.scroll-button.right {
    right: 10px;
}

.scroll-button:hover {
    background: rgba(255, 255, 255, 0.8);
    color: black;
}

.box-container {
    height: 100vh;
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background: white;
    color: black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    height: 200px;
}